---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Kontraktor Bangunan Terpercaya di Bandung - Keramik Bangunan Bandung (KBB)"
	description="Jasa kontraktor profesional di Bandung. Solusi konstruksi satu pintu dari desain hingga serah terima kunci dengan garansi struktur dan pengerjaan tepat waktu."
	canonical="/"
>
	<Navbar />
	<main>
		<Hero />
		<About />
		<Services />
		<Projects />
	</main>
	<Footer />
</Layout>
